<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @tournament.name %></h1>
    <p>
      Because of too few registrations or other reasons, an administrator has canceled the tournament "<strong><%= @tournament.name.gsub('(canceled) ', '') %></strong>".
    </p>
    <p>
      <strong>Date:</strong> <del><%= @tournament.date.to_s(:custom_datetime_with_weekday) %></del><br>
    </p>
    <p>
      To join an other tournament, just follow <%= link_to "this link", @url %>.
    </p>
    <p>We hope to see you soon in a different tournament.</p>
  </body>
</html>
