<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the SSB Tournament Manager</h1>
    <p>
      You have successfully signed up. Your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To join some tournaments, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for your registration and good luck for your matches!</p>
  </body>
</html>
