- set_meta_tags description: 'France Smash Rankings'
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "680", :src => "https://france.supersmashranking.com/", :style => "border: 0; margin: -10px -20px; margin-bottom: -20px; width: calc(100% + 40px);", :width => "100%"}
