<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the SSB Tournament Manager</h1>
    <p>
      You have successfully signed up. Your username is: <strong><%= @user.username %></strong>.<br>
    </p>
    <p>
      To join some tournaments, just follow <%= link_to "this link", @url %>.
    </p>
    <p>Thanks for your registration and good luck during your matches!</p>
  </body>
</html>
