.calendar
  #fullcalendar{data: {events: @full_calendar_events}}

  .calendar__footer
    .row
      .col
        .calendar__footer__legend
          = render 'color_legend'
      .col
        .calendar__footer__actions
          .mb-3
            %strong
              = 'Link: '
            = request.base_url + calendar_path + '.ics'
          = link_to "iCal Export", calendar_path + '.ics', class:'btn btn-ghost'


:coffeescript
  document.addEventListener 'turbolinks:load', ->
    calendar = $('#fullcalendar')
    calendar.fullCalendar
      header:
        left: 'title'
        center: ''
        right: 'today month,agendaWeek,agendaDay,listAll prev,next'
      contentHeight: 600
      views:
        month:
          titleFormat: 'MMMM YYYY'
        agendaWeek:
          titleFormat: 'DD. MMMM YYYY'
          columnFormat: 'ddd, DD.MM.'
        agendaDay:
          titleFormat: 'DD. MMMM YYYY'
        listAll:
          type: 'list'
          duration: { years: 10 }
          listDayFormat: 'dddd, DD. MMMM YYYY'
          listDayAltFormat: ''
      defaultView: 'month'
      events: calendar.data('events')
      firstDay: 1
      eventClick: (event) ->
        if event.url and event.url[0] != '/'
          window.open event.url, '_blank'
          return false

    eventCalendar = ->
      $('#fullcalendar').fullCalendar {calendar}

    clearCalendar = ->
      $('#fullcalendar').fullCalendar 'delete'
      $('#fullcalendar').html ''
      return

    $(document).on 'turbolinks:load', eventCalendar
    $(document).on 'turbolinks:before-cache', clearCalendar
