.calendar__footer__legend__item
  %span.circle{style: "background: lightgray;"}
  %span Past
.calendar__footer__legend__item
  %span.circle{style: "background: lightsalmon;"}
  %span Cancelled
.calendar__footer__legend__item
  %span.circle{style: "background: darkorange;"}
  %span Ongoing
.calendar__footer__legend__item
  %span.circle{style: "background: cornflowerblue;"}
  %span External
.calendar__footer__legend__item
  %span.circle{style: "background: orchid;"}
  %span Internal
  
-if current_user.present?
  .calendar__footer__legend__item
    %span.circle{style: "background: mediumorchid;"}
    %span Internal joined

.calendar__footer__legend__item
  %span.circle{style: "background: #61bf9b;"}
  %span Weekly

-if current_user.present?
  .calendar__footer__legend__item
    %span.circle{style: "background: #07a468;"}
    %span Weekly joined
