.legend
  %span.circle{style: "background: lightgray;"}
  %span Past
.legend
  %span.circle{style: "background: lightsalmon;"}
  %span Cancelled
.legend
  %span.circle{style: "background: darkorange;"}
  %span Ongoing
.legend
  %span.circle{style: "background: cornflowerblue;"}
  %span External
.legend
  %span.circle{style: "background: orchid;"}
  %span Internal
  
-if current_user.present?
  .legend
    %span.circle{style: "background: mediumorchid;"}
    %span Internal joined

.legend
  %span.circle{style: "background: #61bf9b;"}
  %span Weekly

-if current_user.present?
  .legend
    %span.circle{style: "background: #07a468;"}
    %span Weekly joined
