.row.title-div
  .col-md-12
    %h1= 'Calendar'

.row.calendar
  .col-md-12
    #fullcalendar{data: {events: @full_calendar_events}}

:coffeescript
  document.addEventListener 'turbolinks:load', ->
    calendar = $('#fullcalendar')
    calendar.fullCalendar
      header:
        left: 'title'
        center: ''
        right: 'today month,agendaWeek,agendaDay,listAll prev,next'
      contentHeight: 600
      views:
        month:
          titleFormat: 'MMMM YYYY'
        agendaWeek:
          titleFormat: 'DD. MMMM YYYY'
          columnFormat: 'ddd, DD.MM.'
        agendaDay:
          titleFormat: 'DD. MMMM YYYY'
        listAll:
          type: 'list'
          duration: { years: 10 }
          listDayFormat: 'dddd, DD. MMMM YYYY'
          listDayAltFormat: ''
      defaultView: 'month'
      events: calendar.data('events')
      firstDay: 1

    eventCalendar = ->
      $('#fullcalendar').fullCalendar {calendar}

    clearCalendar = ->
      $('#fullcalendar').fullCalendar 'delete'
      $('#fullcalendar').html ''
      return

    $(document).on 'turbolinks:load', eventCalendar
    $(document).on 'turbolinks:before-cache', clearCalendar
