.row
  .col
    %h2 2019
.row.center
  = link_to asset_url('rankings/uk/scotland_s2_19.jpg') do
    = image_tag 'rankings/uk/scotland_s2_19.jpg', height: '100%', width: '100%', alt: 'scotland s2 19 image'
