.row
  .col
    %h2 2020
.row.center
  = link_to asset_url('rankings/uk/yorkshire_and_the_humber_s1_20.jpg') do
    = image_tag 'rankings/uk/yorkshire_and_the_humber_s1_20.jpg', height: '100%', width: '100%', alt: 'yorkshire and the humber s1 20 image'
