.row
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/uk/midlands_s1_22.jpg') do
    = image_tag 'rankings/uk/midlands_s1_22.jpg', height: '100%', width: '100%'

.row.mt-3
  .col
    %h2 2020
.row.center
  = link_to asset_url('rankings/uk/midlands_s1_20.jpg') do
    = image_tag 'rankings/uk/midlands_s1_20.jpg', height: '100%', width: '100%'
