.row
  .col
    %h2 2021
.row.center
  = link_to asset_url('rankings/uk/ireland_s2_21.jpg') do
    = image_tag 'rankings/uk/ireland_s2_21.jpg', height: '100%', width: '100%', alt: 'ireland s2 21 image'
