.row
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/uk/south_east_s1_22.jpg') do
    = image_tag 'rankings/uk/south_east_s1_22.jpg', height: '100%', width: '100%', alt: 'south east s1 22 image'

.row.mt-3
  .col
    %h2 2019
.row.center
  = link_to asset_url('rankings/uk/south_east_s2_19.jpg') do
    = image_tag 'rankings/uk/south_east_s2_19.jpg', height: '100%', width: '100%', alt: 'south east s2 19 image'
