- set_meta_tags description: 'France Smash Imprint'

%h1.page__title
  = t('navigation.footer.imprint')
%p
  %strong Adresse de contact
%p
  Jascha Haldemann
  %br
  B&uuml;rglenstrasse 69
  %br
  3006 Bern
  %br
  la Suisse
%p
  admin@francesmash.fr
%p
  &nbsp;
%p
  %strong
    Avertissement
%p
  L'auteur décline toute responsabilité quant à l'exactitude, la précision, l'actualité, la fiabilité et l'exhaustivité des informations.
%p
  Les prétentions en responsabilité à l'encontre de l'auteur pour des dommages matériels ou immatériels résultant de l'accès, de l'utilisation ou de la non-utilisation des informations publiées, d'une mauvaise utilisation de la connexion ou de défauts techniques sont exclues.
%p
  Toutes les offres sont sans engagement. L'auteur se réserve expressément le droit de modifier, de compléter ou de supprimer des parties de pages ou l'ensemble de l'offre sans préavis ou d'interrompre temporairement ou définitivement la publication.
%p
  &nbsp;
%p
  %strong
    Avis de non-responsabilité pour les liens
%p
  Les références et les liens vers des sites Web tiers ne relèvent pas de notre domaine de responsabilité. Il a rejeté toute responsabilité pour ces sites Web. L'accès et l'utilisation de ces sites Web se font aux risques et périls de l'utilisateur.
<!--ACHTUNG: Wenn Sie die Quelle ohne Erlaubnis von SwissAnwalt entfernen, dann begehen Sie eine Urheberrechtsverletzung welche in jedem Fall geahndet wird.-->
%br
Source: <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a><!--Bitte beachten Sie die AGB von SwissAnwalt betreffend allf&auml;llig anfallenden Kosten bei Weglassen der Quelle!-->
