%h2.sidebar__title
  = t('partials.events')

%table.table.table-hover.table-borderless

  %tbody.table-content.with-show
    - if !@nextTournaments.nil? and @nextTournaments.any?
      - @nextTournaments.each_with_index do |tournament, i|
        %tr{'data-id': tournament.id, 'data-component': 'tournament', 'data-external_url': tournament.external_registration_link}
          %td.text-center= l(tournament.date, format: :custom_datetime_date_and_no_time)
          %td= tournament.name
