.row.beta_header{style: 'display: flex; align-items: center; justify-content: center; color: white; background: orange; height: 2rem; margin-bottom: 0.5rem; margin-top: calc(0.5rem - 10px);'}= "Alpha-Version" #blup: beta
