- if @past_tournaments.any? && @past_tournaments.try(:total_pages).present?
  %nav
    %ul.pagination
      %li= hidden_field_tag 'total_pages', @past_tournaments.total_pages
      %li.left-arrow
        -# table_params is a helper methode to whitelist the needed params to sort and order
        - if @past_tournaments.current_page.present? && @past_tournaments.current_page > 1
          = link_to tournaments_path(table_params.merge(page: @past_tournaments.current_page-1)), aria: {label: "Previous"} do
            %span{"aria-hidden"=> "true"}
              &laquo;
        - else
          %a
            %span{"aria-hidden"=> "true"}
              &laquo;

      - (1..@past_tournaments.total_pages).each do |page|
        %li{class: "#{"active" if page == @past_tournaments.current_page}"}= link_to page.to_s, tournaments_path(table_params.merge(page: page)), value: page
      %li.right-arrow
        - if @past_tournaments.try(:current_page).present? && @past_tournaments.current_page < @past_tournaments.total_pages
          = link_to tournaments_path(table_params.merge(page: @past_tournaments.current_page+1)), aria: {label: "Next"} do
            %span{"aria-hidden"=> "true"}
              &raquo;
        - else
          %a
            %span{"aria-hidden"=> "true"}
              &raquo;
