%tr
  %th.text-center Joined
  %th.text-center.hidden-xs Weekday
  %th Date
  %th Name
  %th.hidden-xs Location
  -# %th.hidden-md.hidden-sm.hidden-xs Descripton
  %th.text-center.hidden-xs Registration fee
  %th.text-center Occupied seats
  %th.text-center.hidden-xs Started
  - if current_user.admin?
    %th.text-center.action Edit
