%tr
  %th
  %th{style: 'min-width: 5rem'} Date
  %th Name
  %th.hidden-xs Location
  -# %th.hidden-md.hidden-sm.hidden-xs Description
  %th.text-center.hidden-xs{style: 'min-width: 5rem'} Fee
  %th.text-center.hidden-xs Seats
  - if current_user.present? and current_user.admin?
    %th.text-center.action Edit
