%tr
  %th.d-none.d-md-table-cell
  %th{style: 'min-width: 5rem'} Date
  %th Name
  %th.d-none.d-md-table-cell Location
  %th.text-center.d-none.d-sm-table-cell.d-md-table-cell{style: 'min-width: 5rem'} Fee
  %th.text-center.d-none.d-sm-table-cell.d-md-table-cell Seats
