.row.title-div
  .col-md-6
    %h1= "Tournaments"

  -# -# search form
  -# .col-md-6
  -#   .search-form.pull-right
  -#     = form_tag tournaments_path, method:'get', class: 'form-inline' do
  -#       = text_field_tag :search, params[:search], class: 'form-control'
  -#       = submit_tag 'Search', name:nil, class: 'form-control btn btn-default'
  -#     %p (Partnumber, Manufacturer, Comment)

-# tournaments list
.row.tournament-list
  .col-md-12
    %table.table.table-striped
      %thead.tournament-list-header
        = render "tournament_list_header"

      %tbody.tournament-list-body
        = render @tournaments

    .row.tournament-list-footer
      -# pageinator
      .col-md-5
        -# - if @tournaments.any?
        -#   = render 'paginator'

      -# Import Animes
      .col-md-5
      -#   - if user_signed_in? && current_user.admin?
      -#     .import-tournament
      -#       %h3{style: 'margin-top: 0px; margin-bottom: 0px;'}
      -#         = "Import Animes"
      -#       = form_tag import_tournaments_path, multipart:true do
      -#         = file_field_tag :file, style: 'display: inline'
      -#         = submit_tag "Import", class: 'btn btn-primary', style: 'margin-top: -25px;'

      -# 'Add Tournament' button
      .col-md-2
        - if current_user.admin?
          .add-tournament-button
            = link_to 'Add Tournament', new_tournament_path, class:'btn btn-primary pull-right', style: 'margin-bottom: 15px;'
