%h1 New tournament

.row.form
  .col-md-8
    %p
      You can create either an internal, an external or one or more weekly tournaments.
      %ul
        %li Internal tournaments are supporting  all the SSB Tournament Manager functionalitly
        %li External tournaments are used to link a different registration website with the SSB Tournament Manager
        %li
          Weeklies are the same as internal tournaments. But you can create multiple tournaments at once by setting an end date.
          The weeklies name will be generated from the defined city and date to e.g: 'SSBU Weekly Bern KW20 2019'
    %ul#pills-tab.nav.nav-pills.mb-3{:role => "tablist", style: 'background-color: #222222;'}
      %li.nav-item{class: params[:subtype] == 'internal' ? 'active' : ''}
        %a#pills-internal-tab.nav-link{"aria-controls" => "pills-internal", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-internal", :role => "tab"} Internal
      %li.nav-item{class: params[:subtype] == 'external' ? 'active' : ''}
        %a#pills-external-tab.nav-link{"aria-controls" => "pills-external", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-external", :role => "tab"} External
      %li.nav-item{class: params[:subtype] == 'weekly' ? 'active' : ''}
        %a#pills-weekly-tab.nav-link{"aria-controls" => "pills-weekly", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-weekly", :role => "tab"} Weekly
    #pills-tabContent.tab-content
      #pills-internal.tab-pane.fade{"aria-labelledby" => "pills-internal-tab", :role => "tabpanel", class: params[:subtype] == 'internal' ? 'active in' : ''}
        = render 'internal-form'
      #pills-external.tab-pane.fade{"aria-labelledby" => "pills-external-tab", :role => "tabpanel", class: params[:subtype] == 'external' ? 'active in' : ''}
        = render 'external-form'
      #pills-weekly.tab-pane.fade{"aria-labelledby" => "pills-weekly-tab", :role => "tabpanel", class: params[:subtype] == 'weekly' ? 'active in' : ''}
        = render 'weekly-form'

  .col-md-4
    %strong
      %p= link_to 'Back', :back
