.row
  .col
    %h1.page__title New tournament

.new-tournament
  %p
    You can create either an internal, an external or one or more weekly tournaments.
    %ul
      %li Internal tournaments are supporting all the SwissSmash Tournament Manager functionalitly
      %li External tournaments are used to link a different registration website with the SwissSmash Tournament Manager
      %li
        Weeklies are the same as internal tournaments. But you can create multiple tournaments at once by setting an end date.
        The weeklies name will be generated from the defined city and date to e.g: 'SSBU Weekly Bern KW20 2019'


  %ul#tournaments-tabs.nav.nav-pills.nav-fill{role: 'tablist'}
    %li.nav-item
      %a#internal-tab.nav-link.active{'data-toggle'=>'tab', href: '#internal', role: 'tab', 'aria-controls'=>'all'}
        Internal
    %li.nav-item
      %a#external-tab.nav-link{'data-toggle'=>'tab', href: '#external', role: 'tab', 'aria-controls'=>'all'}
        External
    %li.nav-item
      %a#weekly-tab.nav-link{'data-toggle'=>'tab', href: '#weekly', role: 'tab', 'aria-controls'=>'all'}
        Weekly
      
  .tab-content#tournaments-tabs-content
    .tab-pane.fade.show.active#internal{role: 'tabpanel', 'aria-labelledby'=>'internal-tab'}
      = render 'internal-form'
    .tab-pane.fade#external{role: 'tabpanel', 'aria-labelledby'=>'external-tab'}
      = render 'external-form'
    .tab-pane.fade#weekly{role: 'tabpanel', 'aria-labelledby'=>'weekly-tab'}
      = render 'weekly-form'