<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New order on <%= @domain %></h1>
    <p>
      Congratulations, someone has ordered one or more of your products.
    </p>
    <p>
      To see the order details, click
      <%= link_to "here", @url %>.
    </p>
  </body>
</html>
