<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    E-Mail:
    <%= @from %>
    <br>
    <br>
    Message:
    <%= simple_format(@body) %>
  </body>
</html>
