.row
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/pt/lisbon_s1_22.jpg') do
    = image_tag 'rankings/pt/lisbon_s1_22.jpg', height: '100%', width: '100%', alt: 'lisbon s1 22 image'

-# .row.mt-3
-#   .col
-#     %h2 2020
-# .row.center
-#   = link_to asset_url('rankings/pt/lisbon_s1_20.jpg') do
-#     = image_tag 'rankings/pt/lisbon_s1_20.jpg', height: '100%', width: '100%', alt: 'lisbon s1 20 image'
