<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %> added a feedback</h1>
    <p>
      To write an administrator response, just follow <%= link_to "this link", @url %> and click on "Edit".
    </p>
  </body>
</html>
