$color-default: #B71234; // Old Glory Red
$color-default2: #00A642; // Irish Green (25% brighter green)
$color-cyan: darkcyan;
$color-red: #E20401;
$color-white: #ffffff;
$color-grey: #3D4852;
$color-grey-dark: #222222;
$color-grey-light: #E5E9EB;


// California flag colors:
// White         #FFFFFF
// Old Glory Red #B71234
// Maple Sugar   #BD8A5E
// Seal          #584528
// Irish Green   #008542
