$color-default: #DA291C;
$color-default2: #DA291C; // #046A38; #FFE900;
$color-cyan: darkcyan;
$color-red: #E20401;
$color-white: #ffffff;
$color-grey: #3D4852;
$color-grey-dark: #222222;
$color-grey-light: #E5E9EB;
