%h1 Edit player

.row.form
  .col-md-8
    = render 'form', player: @player

  .col-md-4
    %strong
      - if current_user.admin?
        %p= link_to 'Delete', @player, method: :delete, data: { confirm: 'Are you sure?' }
      %p= link_to 'Back', :back
