.row
  .col
    %h1.page__title Unregistered players

.row
  .col
    %p
      (>*.*)>, -chicken, 094317, 0s0, 123Soleil, 1tan, 3legged sexgod, 84CN, 96Magi,
      ABFT-Etona, ALI, APX, Aalolex, Abominable, AbyssWatcher, Ace, AceOne, Acikus,
      Aclt, Adri, Aeris, AgenTiteuf, Agrume_, Aioooioio2, Aioria, Aisu, Aka, Akabir,
      Akai, Akavir, Akira, Akito, Al, AlanC0unt, Aldo, AlexLeBolzolix3, Alexis, Alexis2505,
      AlfredHuhn, Alkawar, Almedin, Alvae, Alvaro, Amexis, Ami, Amine, Amk, Andi,
      Andreiar6, Angecopi, Angel, AnimeMan, Anthologie, Anton, Ao, Aoi, Aosanda,
      ArBooc, Archi, Argnir, Argon, Ark, Arlien, Arlir, Arthas86,
      ArtiK, Aruni, Arvoss, Asayunon, Asta, Astre, Asuaru, Athos, Aurablast, Aurum,
      Avat, Awol, AxXisSenpai, AzmoBaro, B4nshee, BBFOX, BB_Mug, BR*sulixor, Babu,
      Backch, Baitsun, Bali, Balu, Bamboozle, Baptiste, Barthahn, Basic dude Luke, Bawu,
      Bazzyfunk, Bee-cause, Beniam, Berb, Bibi_le_requin, Bienemaja, BigD, Bindingblade, Bingbum,
      Blaba, BlackBoo, BlackCobra, BlackNat, BlackSheep, BlackZetttiX, Blair, Blasterh-ssy, Blastproof, Blazou,
      Blind41, Blink, BloPop, Blu, Blueton, BmthSilvan, Bob, Bobo, Boggarak, Bondes,
      Boozeau, Bourate, Brandon, Brechtl, Breezy, Brigite Bard, Broly, Bronol, Brottara, Bruno592,
      Brunolian, Brunzli, BustahhhWolf, Bye1., Bye2., Bye3., Bye4., Bye5, Bölla, CRAZY C-STICKLER,
      CRETO, Caba, Cacahuete, CactusCore, CaloMamout, Camil, CamusThe Demon.D, Capt, Captain Chami, Capt’n Cap,
      Capute, Cardia, Ce mec, Cedi, Celebricks, Cex, Cfis, Chaklun, ChampLuki, Chantal,
      Charanko, Checco, Cheval Bleu Foncé, Chip +, Chirico5, Chnusti, Chocokero, Chomosuke, Choupi,
      Chris, Chris12, ChrisPoyo, Chrisblue8, Chrono, Chronofact, Chx, Cinamello, Clav, Cobble,
      CocoDeNoel, Coelum, Coffee, Comela, Cone, Confederate, Coni Zh, Copernicus, Coyo,
      Crazy Berry, Crazyaxemurderer, Crocotiste, Cubiekun, Cubitux, Cucu098, Cyber, Cybersheep, Cyrx22,
      D-I6D, D4wn, DD, DEADPOOL, DH7, DSZ, DaHood, DaLayT, Dadonk, Daenou,
      Damian, Damii, Damnyell, Danger_Noodle, Dani, Dark, DarkBeardo, DarkDecipio, DarkEye, DarkRey,
      DarkRoxas, Darkie, Darkpazou, Darv, Dashou, Datechi, David, David92, Dawn, Daz,
      DeMihus, Debe, Deepfried, Defotor, Deja, Dengelbarts, DenizG, Dennis, Deo,
      Deox6R, Der Gerät, Descartes, Deven, Dharc, DiaBleBOY, Diggie, DingoFighter, Dino,
      Dio Brando, Dirakia, Dis Nudle, Dive_Darkness, DocBastien, Docteur_Renal, Dodo, Doerfler69, Doge, Doko,
      Domi, Dominik, Don Rigoni, Dorian, Doso, Douchan, Doudou, Dr.Love, DrShefield, Drabs,
      Dragonage, Drakus, Drall, Dread, Drell, Dromluck, Drops, DsTnY.OBG, Dueli, Duke,
      Dunkidama, Dyf, Dylan, Ecra, Eggcelent, Eilva, Ekko, Elelel, Elexiao,
      Elgrigri, Elia, Elias, Elijah, Elio Harry Potter., Eliot, Elpatron, Emrauld, Enderchic, Enderwoman,
      Enki, Enos, Enrico, Envy, Enz, Eric, Eris, Ernesto, Erwan,
      Ethan, Evolution, Evoxx, F0R2fkingDAY, FBX  - Jokozz, FBX Dusk, FBX~Professeur, FORxTODAY, FOX,
      Fab, Fabio, Falitte, Fatton, FaulPern, Faust, FedererFan, Felix, Fenrir, Feus,
      Fire, FireXBoy97, Firgold, Flames, Flayd, Flowerboii, Flox, Forzeker, Foss, Fr0zen,
      François, Fraser, Fremdenführer, Friendminik, Froschi, Froschie, Frost, Fräntsch, Fuma, Funghi,
      Fäbu, G, GMAAF, Gaber, Gabolivie, Gaga, GalaxY, Galight, Galli, Ganggo,
      Gayaa, Gaydar, Gelon, General, Gentlemad, Ghost, Gibson, Gigikoch, Gin Sora, Gio Gio,
      Gion, Giorno Giovanni, Giusi, Gobazob, Gobtwo, Gobul, Godrak, Godsalt, GolgoTech, Gonja,
      Gospel, Goyave, Gratiz, Greek, GreenAce, GreenEyes, Grinchler, Griphass, Groot, GrosPorc,
      GublGubl, Guedalia, Guetzli, Guillaume, Gumbs, Guy, Gäbu, H0tinT0peka, HR BustahWolf, HR BustahhhWolf,
      Haia, Haja, Hallowvim, Hallyst, Haru., Hatsu, Hedgeon, Helsing, Heranorc, Herby,
      Heroin, Hihi, Himatumy, Hiro, Hnt, Hue, Hundredseventeen, Hunter, Hylius77, Hōmuru,
      I like trains, IB, ICloud, IIIJOK3RIII, Ice-Walker, Icelox, IgniSama, Iguru, Ikaroo, Ikarou,
      Ikeda, Ikeee, Ilan, Ilike2spin, Illidaren, Imaginos, IndaDark, Infinity Soul, Innoh, Invocoto,
      Ioiobas, Isaka, Isamil, Ivce, Izzy, JULJUL, JV4, Jack, Jacket, Jackie Gian,
      Jaecheondaesong, Jah Ridin, Jahwa, Janko, Janon, Jawad, Jean-Mulet, JennYeu, Jerome Perone, Jesuischoq,
      Jesuisunpoulpe, Jfida, Jim, Jintex, Jo, Joachim, Jodgir, JoeGame, Joel, John,
      Jojo, Josiko, Jouske, Joyce, Jufi, JujuFire, Julian, Julien, Julz,
      Jynfreccs, K, K3v13, K4T5UM1, KALAKA, KAO, KK, KKing, KLAY, KURNAZ,
      Kaido, Kaiji, Kalyos, KamexE, Kapuman, Karas, KarraLiou, Karratoo, Kat, Kat1,
      Kay, Kayplex, Kazma, Keb, Keftii, KeisVeis, Kekay, Kekevi6, Kelsir, Kely,
      KenPha, Kentamin, Kevin, Key_Usdee_95, Keyaku, Khelsier, Kihi3.0, Kimo, King-Beni,
      KingKaruso, Kingcrimson, Kiobi, Kiraqueen, Kirby Face, Kirex, Kirus, Kissmyaimbot, Kitsu, Kitsune,
      Koakuro, Kokuryu, Konjac, Korowser, Koru, KosmozP, Kotsame, Kouna, Kowen, Kraffab,
      Kris, Kritios, Kuman, Kurakuu, Kuro, Kuroi, Kusari, Kusogaki, Kyoma, Kyuchu,
      L, LEX O_O, LEXO_O, LLL, LMDS, LN, LOREE, LPgamer, LT,
      LT_ENMA, LT_Megan, Laaangan, Laick, Laiix, Lampadaire, Langan, Lapin Maurice, Larry Blurr, LarsZauberer,
      LastLemming, Le Blouson Gris, LeSinge, LeTheoricien, Legu, Lemons, Lenrume, Leo, Lessekteur,
      Leviathon, Liberty, Liks, Lil, Liluz, Lindokory, Link, Linktorien, Lino,
      Linxeo, Lisa, Liu, LoZio, Locmen, Login, Lolo, LongHairedBeauty, LordRiqo, Loriol,
      Loris, Lorn, Loro, Loxyss, Loyow, Loïc, Luc, Luca, LucaRio, Luchia,
      Luckygekko, Lucrativo, Ludo, Luffy, Lukas Loosli, Lulux, Lunk, Lurkaziom, Lxr5, Lya,
      Lyamarth, Lyfen, LyzzyPz, M066y, M066y_20.19, M4C, MGGC, MPrime, MT11, Machiavore,
      Madd, MadeInShineA, Madrider64, Magitron, Mahnox, Maik, Mako, Malembro, Mallow, Mamaraikou,
      Manolo, Manu, Manuel, Manufick, Many, Marcupo, MariaHoliiiic, Mark2King, Marwan, Masuki023,
      Mathias, Mathis, Mathéo, Max, Maxburner, Me and the boys, Medaka, MeduseVelours, Meercko, Mega,
      Mehduz, Meli, Meliodas, Melody, Melon, Melonenmix, Mendeleiev, Mephdog, Mercurx, Meski,
      MetroP9, Mew2King, Mewshake, Mgvcls, MiMi, Michica, MichouDlx, Mickatheboss, Midno, Migi,
      Milkdromeda, Miloshimaru, Mini MKLeo, Minimoize, Miradian, Mish, Mistral, Mitka, Mizho!, Mjolnir,
      Moe, Molo, Momy, Monarc, Monkey D., MonkeySike, Monsieurwalit, Montgomery, Moodylando, Morel,
      Mosi, Motoji, Moufblu, MozzZer, Mr. Freshtastic, Mr. Raymond Clutch, MrBarychan, MrKnuchel,
      MrX10, Mr_K, Muggefurz, Muhammed Ali, MultiNightLife, Mumus, Munareiss, Mutang, Muzi, MySaku,
      Myko, Mytri, Mzazou, N, Naar, Naga, Naht, Nainpitit, NakaJF, Nary,
      Nathalex, Nathix, Naub, Neko, Neo Nox, Neox, Neric, Nero, Nescoffee [SSY], NessTNess,
      Nevram, Nick, Nicolas, Ninanu, Nix, Nixo, No Comment, Noah, Nofun, Nomade,
      NonoV2, Noodle, NovaField, Nox, Nsquid, Nullspace, Nyan, Nydril, Nyro_o,
      Obama0294, Obilisk, Obyka, Okita, Ola (Snakie), Olox, Olybri, Omarschoklar, Omega, Onii =D,
      Onimanta, Orona, P3kva, PMU, POTAToE, Pablo, PamPam, Panda, PandaLove, Pandemian,
      Pandz, Panini_, Pantheon, Passion, Pastawrath, Patoo, PatruZ, Paul, Pazzino, Peasypips,
      Peat, Peek, Pepi, Perce, Petori -, Petrus der Liebesbote, Pharell, Phiko, Phil, Philipp,
      Phistos, Phn, Phoenix, Phyli, Pics187, Piness, Pingu, Pinkmoon, Piomiodelrio, Pioqoi,
      Pittet, Piwes, Pizzafungi1, Plantie, Player2, PlsNerfMe, Pluralis, Plusle, Ponk, Popovic,
      Prinz, Prisma, ProfNepEli, Projectioshi, Psyco, Psykidd, Ptitours, Puree180, Qqimono,
      Quake, Qualin, QuickDay, Quinoxe, Qyhu, RAM, Radiance, Radiant, Radio, Raffa,
      Ragna, RainbowDeeFighter69, RainbowMario, Rainbowdickfighter69, Rama, Raph, Raphael, Raphi, Rasilu, Rasta_lucas,
      Ravio, Ravioli, Raybloo, Raydo, Reanalk, Red, RedX, Relaxo222,
      Rembolo, Remi, Rems, Remtic, Remyx, Rennan, Renonce, Retr0_Banana, Retschi, Rey,
      Rhapsody, RinChan, RinEU, RinQiTheOne, RitualTier, Rivenixx, Riweln, Robin, Robot, Rodrick,
      Rohan, Rohan Doge, Romain6363, Romano, Romlapom, Rookie, Rsama, Ruben, Rukyn, Ryaph,
      Ryoji, Ryuji, Ryuk0911, S0K4R, SG - Phallusnoir, SG - Slan, SGUEG, SKIL, SPAYN, SSY Arthas,
      SSY Blasterh, SSY Checkpoint - KaosBombix, SSY-Another, SSY-Extrange, SSY-Hirok, SSY-Koshiro, SSY-Mumei, Saber_WOOMY, Saga, Saimga,
      Saint Thief, Saitama, Sakesaske, Sam, Samasa, Samus, Sandwich, Sangohan, Sanosuke,
      Santiago, Santos, Sara machts!, Sarby, Sarsain, Sauceman, Saul, SavageYoshi, Sawota, Saymgo,
      Saï, Schawiner, Schizoa, Schlawiner, SchneebergerXIV, Schneegeiss, Schumi, Scratchy, Sdg, Seb,
      Sebastien, Seelver, Seifishl, Sel, SemgaPluck, Seminator, Senilaan, Senpai, Sergio, Seri,
      Serird, Serviette de Toilette, Serwoche, Sethyto, SevereCalamari, Shaggy, Shanthru05, Shay, Shibfrite, Shiki,
      Shiny, Shion, Shirox3, Shoka, Shotix, Shoto, Shroudi, Shykrah, Shöfli, SigFan,
      Sikloo, Siminator, Simo, Sinalco, Sinic, Sio, SirMorelsy, SiropDarabe, Sirth, Skai,
      SkeezOh, Skel, Skeleton, Skeletonne05, Skrrt, Skuman, SkyJack, Skyline, Slayer, Sleep,
      Slyd, Smallpp, Smaug, Smuff, Sn0w, Snaaaake, Sniffpunk, Snoo-Billy, Snorchef, SoS Katsufyy,
      Soki, Solidor, Sonzai X, Sotirod, Soul Lab, SoulGrap, Soundsonic, Spaghetoni, SpargelsXXX,
      Speck, Specularis, Spice, Spiek, Spinsch, Spirit, Splyf, Spook, Sputnik,
      Stainzz, Ste, Stefan54, Stefoo, Stino, Stivenarium, Storrg, Stowy, Strince,
      StroMaze, Stud05, Stumm, SuG, Sub2gewd, Suissie, Suki, Sukori, SurskitTV, Suzuru,
      Sweetz, Swish, Sydeve, Sydnou, Sylph, SysNico, T-Bone, TAEL, TDV, TMHTF-Senpai,
      Taeja, Takatran, Tap, TarekHam_, Tartiflute, Taven, TaySwift, Taya, Taz, Tchoko_25,
      Tediti, Tek, Telezueri55, Teliarth, Tenshi, TetherFord, Thaiflo, Thanh, The Aegis, TheBlerton,
      TheGleamEye, TheKira94, TheNorthernNerd, TheRealAxiomm, TheUltimatest, Theo, Thobe, Thomas, Thomo,
      Thoumas, Tibaso, Tide, Tim, Tolino, Tom, TomLoL, Tomberry, Tomblue8, Tomentos,
      Tommygel, Toni Basler, Tortuda, Tourist, Trigger, Tsuba, TunaLink, Twili,
      Tyran, Uchiha, Udamiano, UltraShaggy, Umirell, Unleam, UoU, UschiKlaus, Username, Valijand,
      Veeking, Vegeta, Venom, Vertigo, Vesspucci, Vex, Vhayngar, Viceroys_vous_bz, Vicious, Vikram,
      Vodka880, Volto Hunter, Volto-hunter, Volumes, Vorhaut, Voy, VxP~TunaLink, WAG Keks, WaRSZAMA, Waffle,
      Waffles, Waldy, Walpurgi, Warren, Wender, Werwurm, West, WetN00dle, WiZi, William,
      Wizardo, Wolffingers, XQlusive, Xeifo, Xel, Xilo, XvalX, XxDOMINA-FIISxX, Yabokuu, Yami,
      Yanar, Yannick, Yapy007, Yassin, Yaya, Yeet, Yellaw, Yohan, Yokay, Yona,
      Yoshi, Yoshio, Yoxxx, Yugen, Yuheht, Yuma, Yumi, Yung Trail, Yung ehrenlos,
      Yushaero, Zac, Zakirio, Zaxor09, Zdorf, Zegno, Zehr, Zelass, Zeldagamerin, Zen,
      Zerox, Zetto, ZiiKex, Zipod, Zkanor, Zorigami, Zorro Alex, Zucro141, Zudenka, Zurio,
      Zwieb, ZytronN, [BurnsB] Fatton, _MaryGaming, __Inf1nite__, aaron, aim, arischer krieger, arta, badd,
      bakebake, bakedbads, bakedgoods, baum27, bestleesinch, boby senders, brüderle, calas, capitalbroly, capuenzo,
      chatton mal né, conspirators, coolflame, davidounet, defegitmitdemaske, dini Mueter, dinimami77, dos, drago,
      dörfler69, eidgenoss, elvis, enLight, epsilon-GD, exodia, feint, flade, gayboi83, gecoo,
      ggist, halil68, hans, hs, insaneroar, jbomb, jeff, joyboy, jungelio69, jungerzueriboysucht69,
      juser23, justdaxo, jöö, kaito, kamex E, kebabgirl69, kepplo, kids, kite, kiwi,
      klay, knolchie, kowler, lastnote, leatherboy69, lederboy68, ledesuisse, legion, lisalesa, lt,
      luc, mRageux, malcor.john, marco, matowe, merchaz, michael, minuit, mng, moepEx,
      mrtiny007, möggy, narrg, nes, nikihdx, numik, nyn, octolo, oeuff, ola,
      onemaariio, onewingedangel, ookami, ooobanan, otar, palutato, panzerf, paulmaster, pedro, peter,
      petri, pichu, pichumaster1939, pichumaster5555, pickAtYou, pilan, presso, purp, rfs, rto167,
      schindlers tits, scorp, sev, shin, sho, shrontech, siiiim, sioser, sip, slan,
      slimshady, sn00py, sokol, someQ, sotnoK, suishu, sveed, syntax, tortankarton, tri,
      tyrone, vergil, waixr, weissesauge, wolkenlos, x, xKawaiiTentacles, xRay, xcloud, xxOrigami,
      yohlaze4, yokai, yukino, yvo, zacowner, zeno, ¬¬¬¬¬¬¬¬,
