= link_to asset_url('rankings/fr/pr_s2_22.jpg') do
  = image_tag "rankings/fr/pr_s2_22.jpg", width: '100%', alt: 'pr s2 22 image'

.row.mt-2
  .col
    %p
      %span= "Source:"
      %span= link_to '@Lopraz_TV', 'https://x.com/Lopraz_TV/status/1641859678601633798?t=qw8j5ZJzo82M9xVAnduk1g&s=19', target: '_blank'
