.administrators {
  .administrators__single {
    p {
      word-break: break-all;
    }
  }
}

td.admin-actions {
  position: absolute;
  right: 2rem;
  display: none;
  background-color: $color-grey-light;
  justify-content: space-between;
  padding: 0.3rem;
  .admin-actions__link {
    margin-right: 0.5rem;
  }
}
