.community {
  margin-bottom: 1rem;
  .admin-actions {
    top: 1rem;
    right: auto;
    left: 3.2rem;
  }
  .community__stats {
    margin-top: 2rem;
    .community__stats__single {
      text-align: center;
      border-right: 1px solid $color-grey-light;
      &.community__stats__single--last {
        border-right: none;
      }
      strong, span {
        display: block;
      }
      span {
        font-size: $font-size-small;
      }
    }
  }
  .community__media_channels {
    margin-top: 2rem;
  }
}

.discord_invite {
  max-width: 500px;
  background-color: #2f3136;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  color: #fff;
  font-family: Whitney Medium Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  .icon {
    margin-right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
  }
  .info {
    line-height: 20px;
    text-align: left;
    .member_count {
      font-size: 12px;
      line-height: 20px;
      color: #b9bbbe;
    }
  }
  .join-btn .btn {
    padding-top: 5px;
    background-color: #43b581;
    color: #fff;
    height: 40px;
    width: 67px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }
}

.dom-tom-map {
  fill: #E9EFF9;
  stroke: #A1A1A1;
  stroke-width: 10;
  path:hover {
    cursor: pointer; fill: #B1D6FF;
  }
}

.france-map {
  fill: #E9EFF9;
  stroke: #A1A1A1;
  path:hover {
    cursor: pointer; fill: #B1D6FF;
  }
}
