.content {
  border-radius: $border-radius-box;
  background-color: $color-white;
  padding: $padding-box $padding-box * 2;
  position: relative;

  color: $color-grey;

  .page__title {
    text-align: center;
    border-bottom: 1px solid $color-grey-light;
  }

  .center {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
