.discord_invite {
  max-width: 500px;
  background-color: #2f3136;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  color: #fff;
  font-family: Whitney Medium Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  .icon {
    margin-right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
  }
  .info {
    line-height: 20px;
    text-align: left;
    .member_count {
      font-size: 12px;
      line-height: 20px;
      color: #b9bbbe;
    }
  }
  .join-btn .btn {
    padding-top: 5px;
    background-color: #43b581;
    color: #fff;
    height: 40px;
    width: 67px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
  }
}
