.feedbacks {
  .pagination {
    text-align: center;
    display: block;
    li {
      display: inline-block;
      &.active {
        font-weight: bold;
      }
      a:hover {
        color: $color-red;
      }
    }
  }
}
