.form-control {
  border-radius: 0;
  &:focus {
    border-color: $color-red;
    box-shadow: 0 0 0 0.2rem rgba(226, 4, 1, 0.25)
  }
}
.form-check {
  display: flex;
  align-items: baseline;
}
.form-check-input {
  position: relative;
  margin-top: 0;
}

