.navbar.navbar-sstm {
  background-color: $color-red;
  .navbar-brand {
    color: $color-white;
    display: flex;
    align-items: center;
    font-weight: bold;
    img {
      margin-right: 1rem;
      background-color: $color-white;
      border: 1px solid $color-white;
      border-radius: 50%;
    }
  }
  .navbar-toggler {
    .navbar-toggler-icon {
      width: 2rem;
      height: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .line {
        height: 2px;
        width: 1.5rem;
        background-color: $color-white;
        margin-bottom: 0.25rem;
        display: block;
        transition: all .3s ease;
      }
      .line--1 {
        margin-left: -0.25rem;
      }
      .line--3 {
        margin-left: -0.5rem;
      }
    }
    &:not(.collapsed) {
      .line {
        margin: 0;
        position: absolute;
      }
      .line--1 {
        transform: rotate(45deg);
      }
      .line--2 {
        transform: rotate(45deg);
      }
      .line--3 {
        transform: rotate(-45deg);
      }
    }
  }
  .navbar-main {
    .nav-item {
      .nav-link {
        color: $color-white;
        font-weight: 500;
        &:hover, .active {
          text-decoration: underline;
        }
      }
    }
  }
  .navbar-account {
    .dropdown-menu {
      border-radius: $border-radius-box;
      a {
        color: $color-red;
      }
      .dropdown-item.active, .dropdown-item:active {
        background-color: $color-grey-light;
      }
    }
    .dropdown-toggle, .nav-link {
      display: flex;
      align-content: center;
      color: $color-white;
      &:after {
        display: none;
      }
    }
  }
  .navbar-discord {
    flex-direction: row;
  }
}