.navbar.navbar-sstm {
  background-color: $color-red;
  .navbar-brand {
    color: $color-white;
    display: flex;
    align-items: center;
    font-weight: bold;
    img {
      margin-right: 1rem;
      background-color: $color-white;
      border: 1px solid $color-white;
      border-radius: 50%;
    }
  }
  .navbar-main {
    .nav-item {
      .nav-link {
        color: $color-white;
        font-weight: 500;
        &:hover, .active {
          text-decoration: underline;
        }
      }
    }
  }
  .navbar-account {
    .dropdown-menu {
      border-radius: $border-radius-box;
      a {
        color: $color-red;
      }
      .dropdown-item.active, .dropdown-item:active {
        background-color: $color-grey-light;
      }
    }
    .dropdown-toggle, .nav-link {
      display: flex;
      align-content: center;
      margin-left: 1rem;
      color: $color-white;
      &:after {
        display: none;
      }
    }
  }
}