.player {
  .player__characters {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    .player__characters__image {
      max-width: 100%;
    }
  }
  .player__stats {
    margin-top: 2rem;
    .player__stats__single {
      text-align: center;
      border-right: 1px solid $color-grey-light;
      &.player__stats__single--last {
        border-right: none;
      }
      strong, span {
        display: block;
      }
      span {
        font-size: $font-size-small;
      }
    }
  }
  .player__comment {
    margin-top: 2rem;
  }
  .player__tournaments {
    margin-top: 2rem;
    h3 {
      margin-bottom: 0;
      padding: 0;
    }
    .table {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }
  }
}