.statistic {
  margin-bottom: 1rem;
  .statistic__stats {
    margin-top: 2rem;
    .statistic__stats__single {
      text-align: center;
      border-right: 1px solid $color-grey-light;
      &.statistic__stats__single--last {
        border-right: none;
      }
      strong, span {
        display: block;
      }
      span {
        font-size: $font-size-small;
      }
    }
  }

  .font_large {
    font-size: xx-large;
  }

  .tooltip_federal_state {
    margin-top: -20px;
    margin-left: 1rem;
  }

  .tooltip_canton {
    margin-top: -20px;
    margin-left: 1rem;
  }

  .tooltip_character {
    margin-left: 1rem;
  }

  .main_chars {
    display: inline-block;
  }

  .main_char {
    float: left;
  }

  .tooltiptext.tooltiptext_character {
    margin-left: -60px;
  }
}
