.nav.nav-fill {
  margin-bottom: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-bottom: 1px solid $color-grey-light;

  .nav-link {
    font-weight: 600;
    border: none;
    display: inline-block;
    background: transparent;
    color: $color-grey;
    text-transform: uppercase;
    border-radius: 0;
    &.active {
      color: $color-default2;
      border-bottom: 2px solid $color-default2;
    }
    &:hover {
      color: $color-default2;
    }
  }
}

.tab-pane {
  .table th {
    padding-top: 0;
  }
}
