.table {
  font-size: .75rem;
  tr  {
    cursor: pointer;
    position: relative;
  }
  .table-header {
    th {
      border: none;
      color: $color-grey;
      font-weight: 600;
      text-transform: uppercase;
    }
  } 
  tbody {
    td {
      vertical-align: middle;
    }
    tr:hover {
      background-color: $color-grey-light;
      .admin-actions {
        display: flex;
      }
    }
  }
}