.table {
  font-size: .75rem;
  position: relative;
  tr  {
    position: relative;
  }
  .table-header {
    th {
      border: none;
      color: $color-grey;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  tbody {
    td {
      vertical-align: middle;
    }
  }
  .with-show {
    tr  {
      cursor: pointer;
    }
  }

  .total-row {
    td {
      border-top: 1px solid black;
    }
  }
}

.table-hover {
  tbody {
    tr:hover {
      background-color: $color-grey-light;
      .admin-list-actions {
        display: flex;
        justify-content: right;
      }
    }
  }
}

.pagination {
  text-align: center;
  display: block;
  font-size: 20px;
  li {
    display: inline-block;
    &.active {
      font-weight: bold;
    }
    a:hover {
      color: $color-default;
    }
  }
}
