.nav.nav-fill {
  margin-bottom: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  .nav-link {
    border: 2px solid $color-red;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all 0.3s ease;
    &:not(.active):hover {
      background-color: $color-red;
      color: $color-white;
    }
    &.active {
      background-color: $color-red;
    }
  }
}