.tournaments-filter {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;

  .tournament-filter-text {
    a:hover {
      color: $color-red;
    }
    a.active { 
      font-weight: bold;
    }
  }
}

.tournament-list-footer {
  .pagination {
    text-align: center;
    display: block;
    li {
      display: inline-block;
      &.active {
        font-weight: bold;
      }
      a:hover {
        color: $color-red;
      }
    }
  }
}