.row
  .col
    %h2 2022
.row.center
  = link_to asset_url('rankings/de/nrw_s1_22.jpg') do
    = image_tag 'rankings/de/nrw_s1_22.jpg', height: '100%', width: '100%'

.row.mt-3
  .col
    %h2 2019
.row.center
  = link_to asset_url('rankings/de/nrw_s2_19.jpg') do
    = image_tag 'rankings/de/nrw_s2_19.jpg', height: '100%', width: '100%'
