= link_to asset_url('rankings/de/pr_s1_25.jpg') do
  = image_tag "rankings/de/pr_s1_25.jpg", width: '100%', alt: 'pr s1 25 image'
%br
%br

.row
  .col
    %h2= "Graphic:"
    %p
      = link_to '@LauchMarfi', 'https://twitter.com/LauchMarfi', target: '_blank'
