= link_to asset_url('rankings/de/pr_s1_24.jpg') do
  = image_tag "rankings/de/pr_s1_24.jpg", width: '100%', alt: 'pr s1 24 image'

.row.mt-3
  %iframe.newest-video{allow: "autoplay; encrypted-media; picture-in-picture", allowfullscreen: "", frameborder: "0", src: "https://www.youtube-nocookie.com/embed/m-MtwgVVq64", style: 'height: 360px; width: 100%;'}
