= link_to asset_url('rankings/de/pr_s1_23.jpg') do
  = image_tag "rankings/de/pr_s1_23.jpg", width: '100%', alt: 'pr s1 23 image'

-# .row.mt-3
-#   %iframe.newest-video{allow: "autoplay; encrypted-media; picture-in-picture", allowfullscreen: "", frameborder: "0", src: "https://www.youtube-nocookie.com/embed/HagbPZmcdI8", style: 'height: 360px; width: 100%;'}
