= link_to asset_url('rankings/de/pr_s2_22.jpg') do
  = image_tag "rankings/de/pr_s2_22.jpg", width: '100%', alt: 'pr s2 22 image'

-# .row.mt-3
-#   %iframe.newest-video{allow: "autoplay; encrypted-media; picture-in-picture", allowfullscreen: "", frameborder: "0", src: "https://www.youtube-nocookie.com/embed/2bUN2829eZI", style: 'height: 360px; width: 100%;'}

.row.mt-3
  .col
    %p
      %span= "Google Doc that lists all the data considered:"
      %span= link_to "docs.google.com/spreadsheets...", "https://docs.google.com/spreadsheets/d/11S7PQZ5VS0lL5hRWUUCU3EwfXpJoP_6lQ6EnmeCNCzY/edit?usp=sharing", target: '_blank'
