= link_to asset_url('rankings/de/pr_s2_24.jpg') do
  = image_tag "rankings/de/pr_s2_24.jpg", width: '100%', alt: 'pr s2 24 1-10 image'

.row.mt-3
  = link_to asset_url('rankings/de/pr_s2_24_2.jpg') do
    = image_tag "rankings/de/pr_s2_24_2.jpg", width: '100%', alt: 'pr s2 24 11-20 image'
