/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


 @import "./_includes/variables.scss";

@import "bootstrap";
@import "material_icons";          
@import "fullcalendar";  
 
@import "./_modules/content.scss";  

@import "./_includes/typography.scss";
@import "./_modules/form.scss";
@import "./_modules/button.scss";
            
@import "./_modules/modal.scss";
@import "./_modules/table.scss"; 
@import "./_modules/sidebar.scss";
@import "./_modules/navigation.scss";
@import "./_modules/banner.scss";
@import "./_modules/toast.scss";
@import "./_modules/tab.scss";   
@import "./_modules/tournament.scss"; 
@import "./_modules/calendar.scss"; 
@import "./_modules/player.scss";     
@import "./_modules/administrator.scss"; 

html, body { 
  height: 100%;     
  background: $color-grey-light;         
}    
main {          
  margin-bottom: 2rem;        
  flex: 1 0 auto;            
}                  
                
  
body {                 
  display: flex;            
  flex-direction: column; 
}   
         
.footer {      
  flex-shrink: 0;
  background-color: $color-grey-dark;    
  color: $color-white;
  text-align: center;  
                       
  img { 
    margin-top: 1rem; 
    margin-bottom: 1rem;
  }

}
