<%- locale = @resource.country_code == 'ch' ? 'en' : @resource.country_code %>

<p><%= t('devise.mailer.welcome', locale: locale) %> <%= @email %></p>

<p><%= t('devise.mailer.confirm', locale: locale) %></p>

<p><%= link_to t('devise.mailer.confirm_account', locale: locale), confirmation_url(@resource, confirmation_token: @token) %></p>
