- if Rails.env.production?
  -# Google Analytics
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-145089919-1"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', ENV['GOOGLE_ANALYTICS']);
